html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  color: #000;
}

.title {
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 54px;
  text-align: center;
  text-transform: uppercase;
}

.title::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  background-color: #ec7979;
  width: 170px;
  height: 1px;
  transform: translateX(-50%);
}

.subtitle {
  color: #86878b;
  text-align: center;
  padding-top: 40px;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  display: inline-flex;
  align-items: center;
  padding: 19px 91px;
  transition: all 0.3s;
}

.bnt-clear {
  border: 2px solid #FFFFFF;
  transition: all .3s;
}

.bnt-clear:hover {
  border-color: #EC7979;
  color: #EC7979;
}

.bnt-clear:active {
  color: #fff;
  background-color: #AB4949;
  border-color: #AB4949;
}

.button-form {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ec7979;
  padding: 19px 20px;
  transition: all .3s;
}

.button-form:hover {
  background-color: #ab4949;
}

.button-form:active {
  background-color: #ec7979;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}


/* header */

.header {
  background-color: #000;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}

.nav__link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  margin-right: 60px;
  position: relative;
}

.nav__link:last-child {
  margin-right: 30px;
}

.nav__link::after {
  content: '';
  width: 0;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -5px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s;
}

.nav__link:hover::after {
  width: 100%;
}


/* intro */

.intro {
  background-image: url('../images/intro-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.intro::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.intro__inner {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: calc(100vh - 75px);
}

/* .intro__content {} */

.logo-large {
  margin-bottom: 50px;
}

.intro__title {
  max-width: 670px;
  font-weight: 500;
  font-size: 48px;
  color: #fff;
  position: relative;
  padding-bottom: 55px;
}

.intro__title::after {
  content: '';
  width: 170px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.intro__lead {
  max-width: 270px;
  color: #fff;
  margin: 42px 0;
}

/* .intro__btn {} */


.intro__form {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 35px;
  flex-basis: 470px;
}

.intro__form-title {
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 45px;
}

.intro__form-title span {
  color: #EC7979;
  text-transform: uppercase;
}

.form-top {
  padding: 0 50px;
}

.form-input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #BDBDBD;
  padding-bottom: 16px;
  margin-bottom: 33px;
}

.form-input::placeholder {
  font-family: inherit;
  font-weight: 400;
  color: #bdbdbd;
  font-size: 14px;
}

.form-top__button {
  border-radius: 0px 0px 10px 10px;
  margin-top: 42px;
  width: 100%;
}



/* media */


.media {
  background-color: #F8EFEF;
}

.media__inner {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}

/* .media__col {} */

.media__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.media__lead {
  max-width: 470px;
  color: #86878B;
}

.social-icon {
  display: flex;
  gap: 30px;
}

/* .social-icon__link {} */

.social-icon__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: #ccc;
  transition: all .2s linear;
}

.social-icon__img:hover {
  color: #ec7979;
  transform: scale(1.2);
}

/* tabs */
.tabs {
  margin-top: 100px;
}

.tab__content-inner {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  border: 1px solid #c6cbcd;
}

.tab__content {
  margin: 20px 0 0 100px;
}

.tab__content-title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 60px;
}

.tab__content-text {
  font-size: 18px;
  max-width: 570px;
  margin-bottom: 27px;
}

.tab__btn-download {
  background-color: #ec7979;
}

.tab__btn-download:hover {
  background-color: #c54949;
}


.tab__content-image {
  line-height: 0;
}

.tabs>input[type='radio'] {
  display: none;
}

.tab__content-inner {
  display: none;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
  display: flex;
}

.tabs>label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0px 0px;
  font-size: 14px;
  color: #333;
  width: 184px;
  height: 40px;
  cursor: pointer;
  position: relative;
  top: 1px;
  text-transform: uppercase;
}

.tabs>input[type='radio']:checked+label {
  border: 1px solid #c6cbcd;
  border-bottom: 1px solid #fff;
}


/* awesome */


.awesome__inner {
  padding: 110px 0 60px 0;
}

.awesome__title {
  position: relative;
}

.awesome__subtitle {
  margin-bottom: 71px;
}

.awesome__row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.awesome__column {
  flex-basis: 370px;
}

.awesome__column-icon {
  margin-bottom: 26px;
}

.awesome__column-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
  margin-bottom: 38px;
}

/* .awesome__column-text {} */

/* pricing */

.pricing {
  background-color: #F5F5F5;
  padding: 100px 0 50px 0;
}

.pricing__top {
  text-align: center;
}

.pricing__title {
  position: relative;
  padding-bottom: 60px;
}

.pricing__subtitle {
  margin-bottom: 59px;
}

.pricing__row {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.pricing__col {
  max-width: 370px;
  flex-grow: 1;
}

.pricing__card {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  background-color: #333;
  text-align: center;
}

.pricing__col:nth-child(odd) {
  padding-top: 20px;
}

.card-shadow {
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.pricing__card-title,
.pricing__card-price,
.pricing__card-text,
.pricing__list {
  border: 1px solid #f5f5f5;
}

.pricing__card-title {
  font-family: 'Open Sans', sans-serif;
  padding: 15px 10px;
  font-size: 24px;
  text-transform: capitalize;
}

.pricing__card-price {
  font-weight: 700;
  font-size: 36px;
  padding: 28px 10px;
}

.pricing__card-text {
  padding: 10px 10px;
}

.pricing__list {
  background-color: #fff;
  color: rgba(255, 255, 255, 0.5);
}

.pricing__list-item {
  border: 1px solid #f5f5f5;
  color: #86878B;
  text-transform: capitalize;
  font-weight: 400;
}

.pricing__list-link {
  display: inline-block;
  color: inherit;
  padding: 10px 10px;
}

/* customers */

.customers {
  padding: 110px 0 64px 0;
}

.customers__title {
  position: relative;
  padding-bottom: 60px;
}

.customers__subtitle {
  margin-bottom: 80px;
}

.customers__row {
  display: flex;
  gap: 30px;
}

/* .customers__col {} */

.customers__col-content {
  background-color: #E2E2E2;
  border-radius: 10px;
  margin-bottom: 66px;
  position: relative;
}

.customers__col-content::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #E2E2E2;
  position: absolute;
  bottom: -20px;
  left: 70px;
}

.content__text {
  text-align: center;
  padding: 38px 20px;
}

.user__col {
  display: flex;
  gap: 30px;
  align-items: center;
}

.user__avatar {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.user__info-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 15px;
}


/* design */

.design {
  background-image: url('../images/design-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.design::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.design__inner {
  padding: 110px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.design__title {
  color: #fff;
  position: relative;
}

.design__title::after {
  content: '';
  background-color: #fff;
}

.design__subtitle {
  color: #fff;
  margin-bottom: 73px;
}

.design__btn {
  padding: 17px 139px;
}

/* contact */


.contact__inner {
  padding: 110px 0 50px 0;
}

.contact__title {
  position: relative;
}

.contact__subtitle {
  margin-bottom: 90px;
}

.contact__row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.contact__col {
  flex: 0 1 50%;
}


.form-textarea {
  border: none;
  outline: none;
  resize: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  display: block;
  padding-bottom: 138px;
  border-bottom: 1px solid #BDBDBD;
}

.form-textarea::placeholder {
  font-family: inherit;
  font-weight: 400;
  color: #bdbdbd;
  font-size: 14px;
}

.contact__button {
  display: block;
  margin: 0 auto;
  padding: 17px 124px;
  margin-top: 17px;
  font-size: 18px;
}

/* footer */

.footer {
  background-color: #000;
  padding: 35px 0 27px 0;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__copy {
  margin-top: 28px;
  color: #fff;
}

/* ?Media ================================================================== */

@media (max-width: 1024px) {
  .title {
    font-size: 24px;
    padding-bottom: 50px;
  }

  .subtitle {
    font-size: 14px;
    padding-top: 32px;
  }

  .btn {
    padding: 19px 72px;
  }

  .design__btn {
    padding: 17px 139px;
  }

  /* Intro ===================================== */
  .intro__title {
    font-size: 36px;
    max-width: 460px;
    padding-bottom: 41px;
  }

  .intro__lead {
    margin: 31px 0;
  }

  /* Form ===================================== */
  .form-top__button {
    margin-top: 18px;
  }

  /* Media ===================================== */
  .media__inner {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .media__inner,
  .social-icon {
    gap: 20px;
  }

  /* Social ===================================== */
  .social-icon__img {
    width: 64px;
    height: 64px;
  }

  /* Tab ===================================== */
  .tab__content-title {
    font-size: 24px;
    margin-bottom: 38px;
  }

  .tab__content-text {
    font-size: 14px;
    margin-bottom: 20px;
  }

  /* Awesome ===================================== */
  .awesome__row {
    gap: 20px;
  }

  .awesome__column-title {
    font-size: 18px;
    margin-bottom: 18px;
  }

  .awesome__column-text {
    font-size: 14px;
  }

  .awesome__column-icon {
    margin: 0;
  }

  /* Content ===================================== */
  .user__info-profession,
  .content__text {
    font-size: 14px;
  }

  .user__info-name {
    font-size: 18px;
  }

  /* Content ===================================== */
  .contact__subtitle {
    margin-bottom: 72px;
  }

}

@media (max-width: 870px) {
  .tab__content-image {
    display: none;
  }

  .tab__content-inner {
    justify-content: center;
  }
}

/*! ======================================992============================================================ */
@media (max-width: 992px) {
  .awesome__row {
    flex-wrap: wrap;
  }

  .pricing__row {
    flex-wrap: wrap;
  }

  .pricing__col {
    width: 370px;
  }

  .pricing__col:nth-child(odd) {
    padding: 0;
  }

  .customers__row {
    flex-wrap: wrap;
  }

  .design__inner {
    padding: 60px 0;
  }
}

/*! ======================================768============================================================ */
@media (max-width: 768px) {

  /* Burger ===================================== */
  .logo {
    position: relative;
    z-index: 6;
  }

  .nav {
    display: none;
  }

  .header__inner {
    align-items: center;
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
  }

  #menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    width: 24px;
    transform: rotate(90deg);
  }

  #menu__toggle:checked~.nav {
    top: 75px;
  }

  .menu__btn {
    position: absolute;
    top: 25px;
    right: 35px;
    width: 24px;
    height: 18px;
    cursor: pointer;
    z-index: 6;
  }

  .menu__btn>span {
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #fff;
    transition: all .3s linear;
  }

  .menu__btn>span::before {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #fff;
    transition: all .3s linear;
  }

  .menu__btn>span::after {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #fff;
    transition: all .3s linear;
  }

  .menu__btn>span::before {
    content: '';
    top: 8px;
  }

  .menu__btn>span::after {
    content: '';
    top: 16px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 80px 0;
    background-color: #000;
    transition: all .3s linear;
    z-index: 5;
  }

  .nav__link {
    display: inline-block;
    margin: 0;
    margin-bottom: 55px;
  }

  .nav__link:last-child {
    margin-right: 0;

  }

  /* Intro ===================================== */
  .intro__inner {
    flex-wrap: wrap;
  }

  .intro__content {
    text-align: center;
    margin-top: 85px;
  }

  .intro__title::after {
    left: 50%;
    transform: translateX(-50%);
  }

  .intro__lead {
    max-width: 100%;
  }

  .intro__logo-large {
    display: none;
  }

  /* Media ===================================== */
  .media__inner,
  .social-icon {
    gap: 20px;
  }

  /* Tabs ===================================== */
  .tabs>label {
    width: 100px;
    height: 40px;
  }

  .tab__content {
    margin: 30px 24px;
  }

  .tabs {
    margin-top: 40px;
  }

  /* Awesome ===================================== */
  .awesome__inner {
    padding: 60px 0;
  }

  /* Pricing ===================================== */
  .pricing {
    padding: 60px 0;
  }

  .pricing__card-title {
    font-size: 18px;
  }

  .pricing__card-price {
    font-size: 24px;
  }

  .pricing__card-text {
    font-size: 14px;
  }

  .pricing__list-item {
    font-size: 14px;
  }

  /* Customers ===================================== */
  .customers {
    padding: 60px 0;
  }

  .customers__row {
    gap: 20px;
  }

  /* Contact ===================================== */
  .contact__row {
    display: block;
  }

  .contact__inner {
    padding: 60px 0;
  }
}

/*! =========================================600========================================================= */
@media (max-width: 600px) {
  .social-icon {
    gap: 17px;
  }
}

/*! ========================================576========================================================== */
@media (max-width: 576px) {
  .form-top {
    padding: 0 20px;
  }

  .intro__form {
    margin-bottom: 50px;
  }

  .media__title {
    font-size: 18px;
  }

  .media__lead {
    font-size: 14px;
  }

  .social-icon__img {
    width: 28px;
    height: 26px;
    object-fit: cover;
  }

  .awesome__row {
    gap: 10px;
  }

  .user__info-profession,
  .user__info-name {
    font-size: 14px;
  }

  .design__subtitle {
    margin-bottom: 50px;
  }

  .design__btn {
    padding: 17px 98px;
  }

  .contact__button {
    padding: 14px 89px;
    width: 100%;
  }
}

/*! =====================================360============================================================= */
@media (max-width: 360px) {
  .tabs>label {
    width: 87px;
  }

  .tab__content-title {
    font-size: 18px;
    margin-bottom: 29px;
  }

  .tab__content-text {
    font-size: 13px;
    margin-bottom: 29px;
  }

  .contact__button {
    font-size: 13px;
  }

  .footer__copy {
    font-size: 14px;
  }
}

/*! =====================================320========================================================= */
@media (max-width: 320px) {}